<nav class="nav">
  <a class="nav-logo">LOGO</a>
  <input class="nav-btn" type="checkbox" id="nav-btn" />
  <label class="nav-icon" for="nav-btn">ICON</label>
  <ul class="nav-group">
    <li class="nav-item">About</li>
    <li class="nav-item">Contact</li>
    <li class="nav-item">Careers</li>
  </ul>
</nav>

<!-- <header class="header">
  <a class="nav-logo">LOGO</a>
  <input class="nav-btn" type="checkbox" id="nav-btn" />
  <label class="nav-icon" for="nav-btn">ICON</label>
  <ul class="nav">
    <li class="nav-item">Our Work</li>
    <li class="nav-item">About</li>
    <li class="nav-item">Careers</li>
    <li class="nav-item">Contact</li>
  </ul>
</header> -->

<!-- <header class="header">
  <a href="" class="logo">CSS Nav</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work">Our Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#careers">Careers</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header> -->